.partners {
  @apply relative min-h-[50vh] lg:min-h-[100vh] grid grid-cols-1 py-4 sm:p-8  md:p-16 text-white z-0;
}
.partners__heading {
  @apply mb-4 sm:mb-7 md:mb-10 text-white flex flex-col justify-center;
}
.partners__heading h1 {
  @apply text-center text-2xl font-semibold;
}
.partners__heading p {
  @apply text-base md:w-[24rem] self-center text-center;
}
.partners__box {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  @apply grid w-11/12 md:w-9/12  place-self-center  place-items-center min-h-[5rem] sm:min-h-[10rem] md:min-h-[20rem] border-[--secondary-color] border-2 rounded-lg;
}
/*  */
.partners__box > div {
  @apply grid grid-cols-3 w-11/12 md:w-9/12 justify-center items-center;
}
.partners__box > div > div {
  @apply flex py-2 px-1 gap-1 sm:py-3 sm:px-1.5 sm:gap-2.5 md:py-6 md:px-3 md:gap-5 md:mx-8 justify-center items-center;
}
/* .partners__box > div > div :nth-child(odd) {
  @apply p-2 m-2 border-[--secondary-color]  border-b-2;
}
.partners__box > div > div:nth-child(even) {
  @apply p-2 m-2;
} */

.border-t {
  @apply border-[--secondary-color] border-t-2 h-24;
}
.border-r {
  @apply border-[--secondary-color] border-r-2 h-24;
}
.border-b {
  @apply border-[--secondary-color] border-b-2 h-24;
}
.border-l {
  @apply border-[--secondary-color] border-l-2 h-24;
}
