.contact {
  @apply min-h-[100vh] overflow-x-hidden  w-full text-white relative;
}
.contact .flare--one {
  @apply -left-56 top-0;
}

.contact__box {
  @apply flex flex-wrap items-center justify-center container z-[1] mb-20 md:mb-10;
}
.contact__box--details {
  @apply grid grid-cols-1 w-full md:w-4/12 lg:w-6/12 items-center justify-center m-auto  z-[1];
}

.contact__box--details .details {
  @apply w-72 hidden md:block break-words;
}
.contact__box--details .details h2 {
  @apply mb-4 font-semibold secondary-text-color text-2xl md:text-3xl;
}
.contact__box--details .details p {
  @apply mb-4 text-sm sm:text-base break-words md:w-[16rem] lg:w-auto;
}
.contact__box--details .details p.contact-info,
.contact__box--details .details p.contact-address {
  @apply w-36;
}

.contact__box--details .social__links {
  @apply absolute flex flex-col md:block top-[35rem] left-[40%] -right-[40%] justify-center md:relative md:bottom-auto md:right-auto md:left-auto;
}

.contact__box--details .social__links > h3 {
  @apply w-36  mb-1 md:mb-4 font-semibold secondary-text-color text-sm sm:text-base md:text-xl;
}
.contact__box--details .social__links > .social__icons {
  @apply flex justify-evenly items-center w-fit space-x-2 text-sm md:text-xl text-white;
}

.contact__box--form {
  @apply grid grid-cols-1 md:w-8/12 lg:w-6/12 items-center justify-center;
}
.contact__form > form .form__group select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
}
.contact__box--form .contact__form {
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @apply grid grid-cols-1 items-center md:bg-[#ffffff08] justify-center w-full md:w-11/12 min-h-[20rem] p-4 md:p-8 lg:p-16;
}

.contact__form > h3 {
  @apply secondary-text-color font-semibold w-56 mb-4;
}

.contact__form > form .form__group input,
.contact__form > form .form__group select option,
textarea {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @apply text-sm border-white border rounded  mb-5 p-3 w-full;
}
