.success {
  @apply text-white  grid grid-cols-1  place-items-center w-full h-[100vh] bg-[#1e1e1e86] z-[999999] absolute left-0 right-0 bottom-0 top-0;
}
.success .success__bg--overlay {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  @apply z-2 flex flex-col w-11/12 md:w-9/12 lg:w-7/12 items-center justify-center;
}
.success .success__bg--overlay .success__messag--container .content img {
  @apply w-72;
}
.success .success__bg--overlay .success__messag--container .content h2 {
  @apply mb-4 text-center font-semibold text-3xl;
}
.success .success__bg--overlay .success__messag--container .content h2 {
  @apply mb-4 text-center font-semibold text-3xl;
}
.success .success__bg--overlay .success__messag--container .content h3 {
  @apply mb-4 text-center font-semibold text-2xl;
}
.success .success__bg--overlay .success__messag--container .content p {
  @apply mb-4 text-center;
}
